.calendar_container {
    border-collapse: collapse;
    width: 400px;
    margin: 30px auto;
}

th,td {
    border: 1px solid black;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

td {
    cursor: pointer;
    border-color: #474545;
}

caption {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-bottom: none;
    padding: 20px 0px;
}

.day_disabled {
    color: #797272;
}

.azul {
    background-color: #1d70dd;
}
.vermelho {
    background-color: #b83e3e;
}
.amarelo {
    background-color: #b8b830;
}
.verde {
    background-color: #40b340;
}
.roxo {
    background-color: #8851bb;
}
.rosa {
    background-color: #ff00b3;
}

.cinza {
    background-color: #464d39;
}